html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column1 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column1 {
      width: 100%;
      display: block;
    }
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container1 {
    padding: 0 16px;
  }
  
  .container1::after, .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
